/* Enter your custom styles here */

.filter-bar-calss .sapUiVlt{
 	width:13rem !important;
 }
 
 .filter-bar-calss .sapMLabel{
 	color:#fff !important;
 }
 
 .textFontClass{
 	font-size:0.7rem !important;
 }