/* Enter your custom styles here */
.sapMPanelHdr{
	color:#fafafa;
}
.sapMIBar.sapMHeader-CTX{
	background-color: #bfbfbf;
}
.sapMITBAll .sapMITBText{
	color:#fafafa;
}

div {
    white-space:initial;
}

.nx-editor input[type=checkbox] { display: none; }